apiVersion: v2
name: glasskube-operator
description: Glasskube Operator Helm Chart
home: https://glasskube.eu/
icon: https://raw.githubusercontent.com/glasskube/.github/main/images/glasskube-icon.svg
sources:
  - https://github.com/glasskube/operator/
type: application
# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: "0.6.3" # x-release-please-version
# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "0.6.3" # x-release-please-version
dependencies:
  - name: cert-manager
    condition: cert-manager.enabled
    version: v1.12.2
    repository: https://charts.jetstack.io
  - name: kube-prometheus-stack
    condition: kube-prometheus-stack.enabled
    repository: https://prometheus-community.github.io/helm-charts
    version: 45.25.0
  - name: mariadb-operator
    condition: mariadb-operator.enabled
    version: 0.15.1
    repository: https://mariadb-operator.github.io/mariadb-operator
  - name: cloudnative-pg
    condition: cloudnative-pg.enabled
    version: 0.18.1
    repository: https://cloudnative-pg.io/charts/
  - name: minio
    condition: minio.enabled
    repository: https://charts.min.io/
    version: 5.0.7
