apiVersion: v2
name: glasskube-operator
description: >
  The Glasskube Operator is an open source Kubernetes operator that aims to simplify the deployment and maintenance of
  various popular open source tools. Each tool is represented by a new Kubernetes custom resource definition (CRD) and
  most user-facing configuration parameters are available via that CRD. Our philosophy is to emphasize ease-of-use and
  strong defaults over rich configuration. Our configurations are designed to cover as many use-cases as possible with
  minimal user configuration.
keywords:
  - Glasskube
  - Gitea Operator
  - GitLab Operator
  - GlitchTip Operator
  - Keycloak Operator
  - Matomo Operator
  - Metabase Operator
  - Nextcloud Operator
  - Odoo Operator
  - HashiCorp Vault Operator
home: https://glasskube.eu/
icon: https://raw.githubusercontent.com/glasskube/.github/main/images/glasskube-icon.svg
sources:
  - https://github.com/glasskube/operator/
  - https://glasskube.eu/docs/
type: application
# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: "0.12.2"  # x-release-please-version
# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "0.12.2"  # x-release-please-version
dependencies:
  - name: cert-manager
    condition: cert-manager.enabled
    version: v1.14.2
    repository: https://charts.jetstack.io
  - name: kube-prometheus-stack
    condition: kube-prometheus-stack.enabled
    repository: https://prometheus-community.github.io/helm-charts
    version: 56.6.2
  - name: mariadb-operator
    condition: mariadb-operator.enabled
    version: 0.20.0
    repository: https://mariadb-operator.github.io/mariadb-operator
  - name: cloudnative-pg
    condition: cloudnative-pg.enabled
    version: 0.19.1
    repository: https://cloudnative-pg.io/charts/
  - name: minio
    condition: minio.enabled
    repository: https://charts.min.io/
    version: 5.0.15
