apiVersion: apps/v1
kind: Deployment
metadata:
  name: glasskube-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: glasskube-operator
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: glasskube-operator
    spec:
      containers:
        - name: glasskube-operator
          image: glasskube/operator
          imagePullPolicy: IfNotPresent
          env:
            - name: KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
      serviceAccountName: glasskube-operator
      securityContext:
        runAsNonRoot: true
