apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: glasskube-operator
rules:
  - apiGroups: [ glasskube.eu ]
    resources: [ "*" ]
    verbs:
      - get
      - list
      - watch
      - patch
      - update
  - apiGroups: [ apps ]
    resources: [ deployments ]
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups: [ "" ]
    resources:
      - services
      - secrets
      - configmaps
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups: [ "" ]
    resources:
      - nodes
    verbs:
      - get
      - list
      - watch
  - apiGroups: [ networking.k8s.io ]
    resources: [ ingresses ]
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups: [ storage.k8s.io ]
    resources: [ storageclasses ]
    verbs:
      - get
      - list
      - watch
  - apiGroups: [ mariadb.mmontes.io ]
    resources: [ "*" ]
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups: [ cert-manager.io ]
    resources: [ clusterissuers ]
    verbs:
      - get
      - list
      - watch
