name: Check commit message format

on:
  pull_request:

jobs:
  commit-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '20.19'
      - name: Install commitlint
        run: |
          npm install @commitlint/cli@18.6.0 @commitlint/config-conventional@18.6.0
          echo "module.exports = {
            extends: ['@commitlint/config-conventional'],
            rules: {
              'body-max-line-length': [2, 'always', 1000]
            }
          }" > commitlint.config.js
      - name: Validate PR commits with commitlint
        run: |
          npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose
