name: Test Scenarios
on:
  push:
    branches:
      - main
    paths-ignore:
      - docs/**
  pull_request:
    branches:
      - main
    paths-ignore:
      - docs/**

env:
  # renovate: datasource=github-tags depName=kudobuilder/kuttl
  KUTTL_VERSION: "v0.15.0"

defaults:
  run:
    shell: bash

jobs:
  run-scenarios:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3

      - uses: actions/setup-python@65d7f2d534ac1bc67fcd62888c5f4f3d2cb2b236 # v4
        with:
          python-version: '3.9'
          check-latest: true

      - name: Download KUTTL
        run: |
          curl -fL https://github.com/kudobuilder/kuttl/releases/download/${{ env.KUTTL_VERSION }}/kubectl-kuttl_${KUTTL_VERSION#v}_linux_x86_64 -o kubectl-kuttl
          chmod +x kubectl-kuttl
          mv kubectl-kuttl /usr/local/bin

      - name: Set up chart-testing
        uses: helm/chart-testing-action@e8788873172cb653a90ca2e819d79d65a66d4e76 # v2.4.0

      - name: Cleanup Chart.lock for test
        run: rm charts/glasskube-operator/Chart.lock

      - name: Run chart-testing (lint)
        run: ct lint --validate-maintainers=false --check-version-increment=false --chart-dirs charts --target-branch ${{ github.event.repository.default_branch }} --all

      - name: Create kind cluster
        uses: helm/kind-action@dda0770415bac9fc20092cacbc54aa298604d140 # v1.8.0

      - name: Cleanup Chart.lock for test
        run: rm charts/glasskube-operator/Chart.lock

      - name: Run chart-testing (install)
        run: >
          kubectl create ns glasskube-operator && ct install --chart-dirs charts --skip-clean-up --namespace glasskube-operator --target-branch ${{ github.event.repository.default_branch }} --all
          --helm-extra-set-args '--set=cert-manager.enabled=true --set=mariadb-operator.enabled=true --set=cloudnative-pg.enabled=true --set=kube-prometheus-stack.enabled=true'

      - name: Run Tests
        working-directory: e2e
        run: make test
