name: Main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3.5.1
        with:
          java-version: 17
          distribution: zulu
          cache: gradle
      - name: Java build
        run: ./gradlew assemble
      - name: Tests
        run: ./gradlew test
      - name: Lint
        run: ./gradlew --continue ktlintCheck
