name: Main

on:
  push:
    branches:
      - main
    paths-ignore:
      - docs/**

permissions:
  contents: write

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # v3.13.0
        with:
          java-version: 17
          distribution: zulu
      - uses: gradle/gradle-build-action@ef76a971e2fa3f867b617efd72f2fbd72cf6f8bc # v2.8.0
        with:
          dependency-graph: generate-and-submit
      - name: Java build
        run: ./gradlew assemble
      - name: Tests
        run: ./gradlew test
        env:
          GITHUB_DEPENDENCY_GRAPH_ENABLED: false
      - name: Lint
        run: ./gradlew --continue ktlintCheck
        env:
          GITHUB_DEPENDENCY_GRAPH_ENABLED: false
