name: Pull request

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - docs/**

jobs:
  pull-request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
      - uses: actions/setup-java@b36c23c0d998641eff861008f374ee103c25ac73 # v4.4.0
        with:
          java-version: 17
          distribution: zulu
      - uses: gradle/actions/setup-gradle@d156388eb19639ec20ade50009f3d199ce1e2808 # v4.1.0
      - name: Java build
        run: ./gradlew assemble
      - name: Tests
        run: ./gradlew test
      - name: Lint
        run: ./gradlew --continue ktlintCheck
