name: Pull request

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - docs/**

jobs:
  pull-request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4.5.0
        with:
          java-version: 17
          distribution: zulu
      - uses: gradle/actions/setup-gradle@94baf225fe0a508e581a564467443d0e2379123b # v4.3.0
      - name: Java build
        run: ./gradlew assemble
      - name: Tests
        run: ./gradlew test
      - name: Lint
        run: ./gradlew --continue ktlintCheck
