name: Pull request

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - docs/**

jobs:
  pull-request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          java-version: 17
          distribution: zulu
      - uses: gradle/gradle-build-action@29c0906b64b8fc82467890bfb7a0a7ef34bda89e # v3.1.0
      - name: Java build
        run: ./gradlew assemble
      - name: Tests
        run: ./gradlew test
      - name: Lint
        run: ./gradlew --continue ktlintCheck
